<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Browser App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4FD36DA1C48C85F00D743ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4FD36F31C48C85F00D743ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4FD36FE1C48C85F00D743ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
